.vscode/*
ccsources/ansifront/ansifront
ccsources/ansifront/ansifront.exe
ccsources/ansifront/*.o
ccsources/c.comp/co_comp
ccsources/c.comp/co_comp.exe
ccsources/c.comp/*.o
ccsources/c.opt/co_opt
ccsources/c.opt/co_opt.exe
ccsources/c.opt/*.o
ccsources/cprep19/coprep
ccsources/cprep19/coprep.exe
ccsources/cprep19/*.o
ccsources/rlink/rlink
ccsources/rlink/rlink.exe
ccsources/rlink/*.o
ccsources/rma/rma
ccsources/rma/rma.exe
ccsources/rma/*.o
ccsources/cc253/cc253
ccsources/cc253/cc253.exe
ccsources/cc253/*.o
test/*.o
test/*.exe
test/dd/cmds/*
